.course-wrapper {
    display: flex;
}

.course-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 0 0;
}

.course-sidebar div p {
    cursor: pointer;
}

.course-sidebar div p:hover {
    text-decoration: underline;
}

.submissions-main-content {
    flex: 6;
    padding: 20px;
}

.submissions-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empty-submissions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    padding: 80px;
}

.empty-submissions-container div img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.empty-submissions-container div p {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.submissions-container table {
    width: 100%;
    border-collapse: collapse;
}

.submissions-container th, .submissions-container td {
    padding: 10px;
    text-align: center;
}

.submissions-container td p {
    margin: 0;
}

.submissions-container tr:hover {
    background-color: #f0f0f0;
}

.submissions-container th {
    background-color: #f0f0f0;
}

.submission-download-link {
    color: #dc3545;
    cursor: pointer;
}

.submission-download-link:hover {
    text-decoration: underline;
}

.grade-submission-link {
    color: #dc3545;
    cursor: pointer;
}

.grade-submission-link:hover {
    text-decoration: underline;
}

.submissions-main-content hr {
    margin-top: 0;
}