.course-wrapper {
    display: flex;
}

.course-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 0 0;
}

.course-sidebar div p {
    cursor: pointer;
}

.course-sidebar div p:hover {
    text-decoration: underline;
}

.assignments-main-content {
    flex: 6;
    padding: 20px;
    overflow: hidden;
}

.assignments-container {
    overflow-x: hidden;
}

.assignments-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assignments-heading div p i {
    margin-right: 5px;
}

.empty-assignments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    padding: 80px;
}

.empty-assignments-container div img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.empty-assignments-container div p {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.assignment-description-para {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
    margin: 0;
}

.assignment-content-flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px 0;
}

.assignment-content-flex-container:hover {
    background-color: #f0f0f0;
}

.assignment-content-container {
    flex: 7;
    overflow: hidden;
}

.assignment-date-container {
    flex: 2;
}

.assignment-date-container p {
    margin: 0;
    text-align: right;
    font-style: italic;
}

.assignments-main-content hr {
    margin:0;
}