.courses-page-container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.sidebar {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.3s;
    height: 100%;
    width: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.courses-container {
    flex: 20;
    padding: 36px 48px 48px 48px;
    margin-left: 54px;
    transition: margin-left 0.3s;
}

.main-expanded{
    margin-left: 84px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.logo img {
    width: 40px;
}

.logo span {
    font-weight: bold;
}
.toggle-btn-wrapper {
    cursor: pointer;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.toggle-btn-wrapper:hover {
    background-color: #555;
}

.toggle-btn {
    transition: transform 0.3s;
    padding:10px;
}

.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tabs li {
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    width: 100%;
}

.tabs li:hover {
    background-color: #555;
}

.tabs li.active {
    background-color: white;
}

.expanded {
    width: 84px;
}

.expanded .toggle-btn {
    transform: rotate(180deg);
}

.expanded .logo img {
    width: 60px;
}

.tabs li span {
    display: none;
}

.expanded .tabs li span {
    display: inline-block;
    font-size: small;
}

.expanded .tabs li.active span {
    color: #c8102f;
}

.empty-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    padding: 80px;
}

.empty-course-container div img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.empty-course-container div p {
    font-size: x-large;
    font-weight: bold;
}

.course-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.course-container table {
    width: 100%;
    border-collapse: collapse;
}

.course-container th, .course-container td {
    padding: 10px;
    text-align: center;
}

.course-container th {
    background-color: #f0f0f0;
}

.course-container .star-icon {
    text-align: center;
}

.course-container .star-icon i {
    color: gold;
}


