.empty-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    padding: 80px;
}

.empty-course-container div img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.empty-course-container div p {
    font-size: x-large;
    font-weight: bold;
}

.course-container table {
    width: 100%;
    border-collapse: collapse;
}

.course-container th, .course-container td {
    padding: 10px;
    text-align: center;
}

.course-container tr:hover {
    background-color: #f0f0f0;
}

.course-container th {
    background-color: #f0f0f0;
}

.course-container .star-icon {
    text-align: center;
}

.course-container .star-icon i {
    color: gold;
}
.course-title-link {
    cursor: pointer;
}

.course-title-link:hover {
    text-decoration: underline;
}

