.layout-container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.sidebar {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.3s;
    height: 100%;
    width: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-content {
    flex: 20;
    padding: 36px 48px 48px 48px;
    margin-left: 54px;
    transition: margin-left 0.3s;
}

.main-expanded{
    margin-left: 84px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.logo img {
    width: 40px;
}

.logo span {
    font-weight: bold;
}
.toggle-btn-wrapper {
    cursor: pointer;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.toggle-btn-wrapper:hover {
    background-color: #555;
}

.toggle-btn {
    transition: transform 0.3s;
    padding:10px;
}

.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tabs li {
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    width: 100%;
}

.tabs li:hover {
    background-color: #555;
}

.tabs li.active {
    background-color: white;
}

.expanded {
    width: 84px;
}

.expanded .toggle-btn {
    transform: rotate(180deg);
}

.expanded .logo img {
    width: 60px;
}

.tabs li span {
    display: none;
}

.expanded .tabs li span {
    display: inline-block;
    font-size: small;
}

.expanded .tabs li.active span {
    color: #c8102f;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content:left;
}

.empty-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    padding: 80px;
}

.empty-course-container div img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.empty-course-container div p {
    font-size: x-large;
    font-weight: bold;
}


.course-card {
    width: 250px;
    min-width: 200px;
    margin: 10px 20px 10px 0;
    background-color: #f9f9f9;
}

.course-details {
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    cursor: pointer;
}

.course-details:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.course-content {
    padding: 10px 10px;
}

.course-img {
    height: 150px;
    background-color: #28a745;
    opacity: 0.3;
}

.course-content h3 {
    margin-top: 0;
    color: black;
    font-size: medium;
}

.course-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.course-details p {
    margin-bottom: 0;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-icon-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.course-body {
    display:flex;
    flex-direction: column;
}

.course-icon-item a i {
    color: black;
}

.course-icon-item a i:hover {
    color: #c8102f
}

.right-pane {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 100px;
}

.todo-title {
    margin-top: 20px;
}

.todo-pane {

}

