<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>
        Add People
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/add-people.css}">
    <link rel="stylesheet" th:href = "@{/css/global.css}">
    <script src="https://kit.fontawesome.com/7d29a41b0b.js" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        function toggleSidebar() {
            let sidebar = document.querySelector('.sidebar');
            let mainContent = document.querySelector('.main-content');
            let accountsMenu = document.querySelector('.accounts-menu');
            sidebar.classList.toggle('expanded');
            mainContent.classList.toggle('main-expanded');
            accountsMenu.classList.toggle('sidebar-expanded');
        }
        function toggleAccountsMenu() {
            let accountsMenu = document.querySelector('.accounts-menu');
            let courseTab = document.querySelector('.tabs li:nth-child(3)');
            let accountTab = document.querySelector('.tabs li:nth-child(1)');

            if (accountsMenu.classList.contains('expanded')) {
                accountsMenu.classList.remove('expanded');
                courseTab.classList.add('active');
                accountTab.classList.remove('active');
            } else {
                accountsMenu.classList.add('expanded');
                courseTab.classList.remove('active');
                accountTab.classList.add('active');
            }
        }

        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</head>
<body>
<div class="layout-container">
    <div class="sidebar">
        <div class="sidebar-nav">
            <div class="logo" th:onclick="redirectTo('/')">
                <img th:src="@{../../../images/eduverse-logo-sm.png}" alt="logo">
            </div>
            <ul class="tabs">
                <li th:class="${activeTab == 'account' ? 'active' : ''}" th:onclick="toggleAccountsMenu()">
                    <i class="fas fa-user" style="color: #c8102f;"></i><span>Account</span>
                </li>
                <li th:class="${activeTab == 'dashboard' ? 'active' : ''}" th:onclick="redirectTo('/')">
                    <i class="fas fa-tachometer-alt" style="color: #c8102f;"></i><span>Dashboard</span>
                </li>
                <li th:class="${activeTab == 'courses' ? 'active' : ''}" th:onclick="redirectTo('/courses')">
                    <i class="fas fa-book" style="color: #c8102f;"></i><span>Courses</span>
                </li>
            </ul>
        </div>
        <div class = "toggle-btn-wrapper" onclick="toggleSidebar()">
            <div class = "toggle-btn">
                <i class="fas fa-angle-double-right" style="color: #c8102f;"></i>
            </div>
        </div>
    </div>
    <div class="main-content">
        <h3>Add People</h3>
        <hr>
        <div class = "course-wrapper">
            <div class = "course-sidebar">
                <div>
                    <p class="text-danger" th:text="Home" th:data-name="${course.courseOfferingId}" th:onclick="redirectTo('/courses/' + this.getAttribute('data-name'))"></p>
                </div>
                <div>
                    <p class="text-danger" th:text="Announcements" th:data-name="${course.courseOfferingId}" th:onclick="redirectTo('/courses/' + this.getAttribute('data-name') + '/announcements')"></p>
                </div>
                <div>
                    <p class="text-danger" th:text="Assignments" th:data-name="${course.courseOfferingId}" th:onclick="redirectTo('/courses/' + this.getAttribute('data-name') + '/assignments')"></p>
                </div>
                <div>
                    <p class="text-danger" th:text="Files" th:data-name="${course.courseOfferingId}" th:onclick="redirectTo('/courses/' + this.getAttribute('data-name') + '/files')"></p>
                </div>
                <div>
                    <p class="text-dark" th:text="People" th:data-name="${course.courseOfferingId}" th:onclick="redirectTo('/courses/' + this.getAttribute('data-name') + '/people')"></p>
                </div>
                <div>
                    <p class="text-danger" th:text="Grade" th:data-name="${course.courseOfferingId}" th:onclick="redirectTo('/courses/' + this.getAttribute('data-name') + '/grades')"></p>
                </div>
            </div>
            <div class = "people-main-content">
                <form method="post" role="form" th:action="@{'/courses/' + ${courseOfferingId} + '/people/add'}" th:object="${person}">
                    <div class="mb-1">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" class="text-danger">
                        Error: <span th:errors="*{email}"></span>
                    </p>
                    <button th:href="@{'/courses/' + ${courseOfferingId} + '/people/add'}" type="submit" class="btn btn-danger">Add Student</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="accounts-menu">
    <div class="account-details">
        <h3 class="username" th:text="${userFullName}"></h3>
        <a href="/logout" class = "btn btn-danger">Logout</a>
        <hr>
        <a href="/profile" class = "account-link text-danger" >Edit Profile</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>